# Node.js
node_modules/
npm-debug.log
*.log
.env

# Frontend build output
/frontend/dist
/frontend/.vite

# SQLite Database file
/backend/database.db
# SQLite temporary files
*.db-journal

# IDE & OS files
.DS_Store
.vscode/